<div class="container-fluid" [hidden]="showForm">
    <div class="section-sep">
        <div [hidden]="showForm">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-weight-bold">{{ 'ADMIN.SECTIONS' | translate }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="d-inline-block search-field-icon">
                        <mat-label>{{ 'GENERAL.SEARCH' | translate }}</mat-label>
                        <input matInput [formControl]="filterFormControl"
                            placeholder="{{ 'GENERAL.SEARCH' | translate }} ...">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-3">
                    <mat-form-field>
                        <mat-label>{{ 'ADMIN.EFFECTIVE' | translate }}</mat-label>
                        <mat-select [formControl]="effectiveFormControl" [class.not-empty]="">
                            <mat-option [value]="0">{{ 'GENERAL.ALL' | translate }}</mat-option>
                            <mat-option [value]="1">{{ 'GENERAL.ACTIVE' | translate }}</mat-option>
                            <mat-option [value]="2">{{ 'GENERAL.INACTIVE' | translate }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
            </div>
        </div>

        <div class="row" [hidden]="showForm">
            <div class="col-md-12">
                <button class="add" (click)="onAdd()">
                    <span class="material-icons">add</span>
                    <span>{{ 'GENERAL.ADD' | translate }}</span>
                </button>
            </div>
            <div class="col-md-12 table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="logo">
                        <th mat-header-cell *matHeaderCellDef>{{ 'ADMIN.LOGO' | translate }}</th>
                        <td mat-cell *matCellDef="let service">
                            <img *ngIf="service.logo" style="border-radius: '50%'" [src]="url + 'images/' + service.logo" alt="Image" height="50" width="50">
                            <img *ngIf="!service.logo" style="border-radius: '50%'" src="../../../../../assets/images/noImage.jpg" alt="Image" height="50" width="50">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="title_ar">
                        <th mat-header-cell *matHeaderCellDef>{{ 'ADMIN.ARABICTITLE' | translate }}</th>
                        <td mat-cell *matCellDef="let service"> {{ service.title.ar }} </td>
                    </ng-container>

                    <ng-container matColumnDef="title_en">
                        <th mat-header-cell *matHeaderCellDef>{{ 'ADMIN.ENGLISHTITLE' | translate }}</th>
                        <td mat-cell *matCellDef="let service"> {{ service.title.en }} </td>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th class="text-center" mat-header-cell *matHeaderCellDef>
                            {{ 'GENERAL.EDIT' | translate }}</th>
                        <td class="edit text-center" mat-cell *matCellDef="let service">
                            <div class="actions">
                                <div (click)="onView()" title="{{ 'GENERAL.VIEW' | translate }}"
                                    class="cursor-pointer green-text edit-icon">
                                    <mat-icon>visibility</mat-icon>
                                </div>
                                <div (click)="onEdit(service)" title="{{ 'GENERAL.EDIT' | translate }}"
                                    class="cursor-pointer green-text edit-icon">
                                    <mat-icon>edit</mat-icon>
                                </div>
                                <div (click)="onDelete(service)" title="{{ 'GENERAL.Delete' | translate }}"
                                    class="cursor-pointer green-text edit-icon">
                                    <mat-icon>delete</mat-icon>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator class="paginator-custom" [length]="totalData" [pageSize]="dataPerPage"
                    [pageSizeOptions]="pageSizeOptions"></mat-paginator>
            </div>
        </div>
    </div>
</div>
<app-manage-services-form (back)="onback($event)" [service]="service" *ngIf="showForm"></app-manage-services-form>