$color-green: #009A93;
$color-blue: #1E3480;
$color-red: #972E19;
$color-primary: #891609;
$color-black: #000000;
$color-white: #ffffff;
$color-link: #5B87DD;
$color-disabled-dark: #575756;
$color-table-title: #575756;
$color-prefix: #575756;
$color-grey: #D5D6D8;
$color-shadow: #D5D6D8;
$color-upload-data: #D5D6D8;
$color-disabled-light: #EDEDED;
$color-checkbox-frame: #EDEDED;
$color-upload: #EDEDED;
$color-green-light: #95C11F;
$color-red-light: #EF7900;
$color-toggle: #85BACE;
$color-body: #F2F2F2;
$box-shadow: #00000029;
$row-hover: #ffd8d4;
$row-even: #F7F7F7;