<div class="container-fluid">
    <div class="row">
        <div>
            <p class="font-weight-bold title-info">
                <span>{{ 'GENERAL.HOME' | translate }}:</span>
            </p>
        </div>
        <div class="col-md-12">
            <div [routerLink]="'/admin/manage-home/header'" class="menu-item">
                <span class="material-icons">bookmark</span>
                <p class="menu-item__p">{{'ADMIN.HEADER' | translate}}</p>
            </div>
            <div [routerLink]="'/admin/manage-home/what-do-we-apply'" class="menu-item">
                <span class="material-icons">contact_support</span>
                <p class="menu-item__p">{{'ADMIN.CONTACTUSsssssssssss' | translate}}</p>
            </div>
            <div [routerLink]="'/admin/manage-home/who-we-are'" class="menu-item">
                <span class="material-icons">verified</span>
                <p class="menu-item__p">{{'ADMIN.OURCOMMITMENTSsssssssssssss' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center back-btn">
            <button [routerLink]="'/admin/home'" class="red-background save-data font-weight-bold">
                {{ 'GENERAL.BACKTOHOME' | translate }}
            </button>
        </div>
    </div>
</div>