<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div [routerLink]="'/admin/manage-periodic-releases'" class="menu-item">
                <span class="material-icons">date_range</span>
                <p class="menu-item__p">{{'ADMIN.MANAGEMENT' | translate}}</p>
            </div>
            <div [routerLink]="'/admin/manage-report-grids'" class="menu-item">
                <span class="material-icons">view_list</span>
                <p class="menu-item__p">{{'ADMIN.MANAGEMENT' | translate}}</p>
            </div>
            <div [routerLink]="'/admin/manage-services'" class="menu-item">
                <span class="material-icons">dynamic_feed</span>
                <p class="menu-item__p">{{'ADMIN.MANAGEMENT' | translate}}</p>
            </div>
            <div [routerLink]="'/admin/manage-users'" class="menu-item">
                <span class="material-icons">people</span>
                <p class="menu-item__p">{{'ADMIN.MANAGEMENT' | translate}}</p>
            </div>
            <div [routerLink]="'/admin/manage-services'" class="menu-item">
                <span class="material-icons">dynamic_feed</span>
                <p class="menu-item__p">{{'ADMIN.MANAGEMENT' | translate}}</p>
            </div>
        </div>
    </div>
</div>