@media (max-width: 991px) {
  .main-aside-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 6;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
  }

  .main-aside-overlay.main-aside-overlay-avtive {
    opacity: 1;
    visibility: visible;
  }

}