<div class="container-fluid manage-emails">
    <form [formGroup]="headerForm">
        <div class="section-sep">
            <div class="row">
                <div class="col-md-12">
                    <p class="font-weight-bold title-info">
                        <span>{{ 'HEADER.HEADER' | translate }}:</span>
                    </p>
                </div>
                <div class="col-md-6 mb-4">

                    <span *ngIf="logoReader" class="mx-2" style="position: relative;">
                      <img [src]="logoReader" alt="Logo" height="50px" width="50px" style="position: relative;">
                      <mat-icon (click)="removeLogoReader()"
                        style="color: red; cursor:pointer;position: absolute;z-index: 1;bottom:70%; left:70%">cancel</mat-icon>
                    </span>
          
                    <span *ngIf="logo" class="mx-2" style="position: relative;">
                      <img [src]="url + 'images/' + logo" alt="Logo" height="50px" width="50px" style="position: relative;">
                      <mat-icon (click)="removeLogo()"
                        style="color: red; cursor:pointer;position: absolute;z-index: 1;bottom:70%; left:70%">cancel</mat-icon>
                    </span>
                    <button type="button" mat-raised-button (click)="logoFileInput.click()">{{ 'ADMIN.CHOOSELOGO' | translate
                      }}</button>
                    <input formControlName="logo" hidden (change)="onLogoSelected($event)" #logoFileInput type="file">
                  </div>
          
                  <div class="col-md-6 mb-4">
                    <span *ngFor="let item of media" class="mx-2" style="position: relative;">
                      <img [src]="url + 'images/' + item" alt="Logo" height="50px" width="50px" style="position: relative;">
                      <mat-icon (click)="removeMedia(item)"
                        style="color: red; cursor:pointer;position: absolute;z-index: 1;bottom:70%; left:70%">cancel</mat-icon>
                    </span>
          
                    <span *ngFor="let item of mediaReader; let i = index" class="mx-2" style="position: relative;">
                      <img [src]="item" alt="Logo" height="50px" width="50px" style="position: relative;">
                      <mat-icon (click)="removeMediaReader(item, i)"
                        style="color: red; cursor:pointer;position: absolute;z-index: 1;bottom:70%; left:70%">cancel</mat-icon>
                    </span>
                    <button type="button" mat-raised-button (click)="mediaFileInput.click()">{{ 'ADMIN.ADDMEDIA' | translate
                      }}</button>
                    <input formControlName="media" hidden (change)="onMediaSelected($event)" #mediaFileInput multiple type="file">
                  </div>
          
          
                  <div class="col-md-6">
                    <mat-form-field [class.not-empty]="headerForm.get('title_ar').value">
                      <mat-label>{{ 'ADMIN.ARABICTITLE' | translate }}</mat-label>
                      <input type="text" matInput formControlName="title_ar" placeholder="{{ 'ADMIN.ARABICTITLE' | translate }}">
                      <mat-error *ngIf="headerForm.get('title_ar').errors?.required">
                        {{ 'ADMIN.ERRORMESSAGE' | translate }}
                      </mat-error>
                      <mat-error *ngIf="headerForm.get('title_ar').errors?.pattern">
                        {{ 'ADMIN.ARNAMEERROR' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field [class.not-empty]="headerForm.get('title_en').value">
                      <mat-label>{{ 'ADMIN.ENGLISHTITLE' | translate }}</mat-label>
                      <input type="text" matInput formControlName="title_en" placeholder="{{ 'ADMIN.ENGLISHTITLE' | translate }}">
                      <mat-error *ngIf="headerForm.get('title_en').errors?.required">
                        {{ 'ADMIN.ERRORMESSAGE' | translate }}
                      </mat-error>
                      <mat-error *ngIf="headerForm.get('title_en').errors?.pattern">
                        {{ 'ADMIN.ENNAMEERROR' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
          
                  <div class="col-md-6">
                    <mat-form-field [class.not-empty]="headerForm.get('description_ar').value">
                      <mat-label>{{ 'ADMIN.ARABICDESCRIPTION' | translate }}</mat-label>
                      <textarea rows="3" matInput formControlName="description_ar"
                        placeholder="{{'ADMIN.ARABICDESCRIPTION' | translate}}"></textarea>
                      <mat-error *ngIf="headerForm.get('description_ar').errors?.required">
                        {{ 'ADMIN.ERRORMESSAGE' | translate }}
                      </mat-error>
                      <mat-error *ngIf="headerForm.get('description_ar').errors?.pattern">
                        {{ 'ADMIN.ARNAMEERROR' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field [class.not-empty]="headerForm.get('description_en').value">
                      <mat-label>{{ 'ADMIN.ENGLISHDESCRIPTION' | translate }}</mat-label>
                      <textarea rows="3" matInput formControlName="description_en"
                        placeholder="{{'ADMIN.ENGLISHDESCRIPTION' | translate}}"></textarea>
                      <mat-error *ngIf="headerForm.get('description_en').errors?.required">
                        {{ 'ADMIN.ERRORMESSAGE' | translate }}
                      </mat-error>
                      <mat-error *ngIf="headerForm.get('description_en').errors?.pattern">
                        {{ 'ADMIN.ENNAMEERROR' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>          

                  <div class="col-md-6">
                    <mat-form-field [class.not-empty]="headerForm.get('question_ar').value">
                      <mat-label>{{ 'ADMIN.QUESTIONAR' | translate }}</mat-label>
                      <textarea rows="3" matInput formControlName="question_ar"
                        placeholder="{{'ADMIN.QUESTIONAR' | translate}}"></textarea>
                      <mat-error *ngIf="headerForm.get('question_ar').errors?.required">
                        {{ 'ADMIN.ERRORMESSAGE' | translate }}
                      </mat-error>
                      <mat-error *ngIf="headerForm.get('question_ar').errors?.pattern">
                        {{ 'ADMIN.ARNAMEERROR' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field [class.not-empty]="headerForm.get('question_en').value">
                      <mat-label>{{ 'ADMIN.QUESTIONEN' | translate }}</mat-label>
                      <textarea rows="3" matInput formControlName="question_en"
                        placeholder="{{'ADMIN.QUESTIONEN' | translate}}"></textarea>
                      <mat-error *ngIf="headerForm.get('question_en').errors?.required">
                        {{ 'ADMIN.ERRORMESSAGE' | translate }}
                      </mat-error>
                      <mat-error *ngIf="headerForm.get('question_en').errors?.pattern">
                        {{ 'ADMIN.ENNAMEERROR' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>          

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button (click)="onSave()" class="red-background font-weight-bold">
                    {{ 'GENERAL.SAVE' | translate }}
                </button>
                <button [routerLink]="'/admin/manage-home'" class="red-background save-data font-weight-bold">
                    {{ 'GENERAL.BACK' | translate }}
                </button>
            </div>
        </div>
    </form>
</div>