<div class="container-fluid manage-emails">
    <form [formGroup]="questionsForm">
        <div class="section-sep">
            <div class="row">
                <div class="col-md-12">
                    <p class="font-weight-bold title-info">
                        <span *ngIf="!question">{{ 'GENERAL.ADD' | translate }} </span>
                        <span *ngIf="question">{{ 'GENERAL.EDIT' | translate }} </span>
                        <span>{{ 'ADMIN.RANDOMQUESTIONS' | translate }}</span>
                    </p>
                </div>

                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="questionsForm.get('question_ar').value">
                        <mat-label>{{ 'ADMIN.QUESTIONAR' | translate }}</mat-label>
                        <textarea rows="3" type="text" matInput formControlName="question_ar"
                            placeholder="{{ 'ADMIN.QUESTIONAR' | translate }}"></textarea>
                        <mat-error *ngIf="questionsForm.get('question_ar').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="questionsForm.get('question_ar').errors?.pattern">
                            {{ 'ADMIN.ARNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="questionsForm.get('question_en').value">
                        <mat-label>{{ 'ADMIN.QUESTIONEN' | translate }}</mat-label>
                        <textarea rows="3" type="text" matInput formControlName="question_en"
                            placeholder="{{ 'ADMIN.QUESTIONEN' | translate }}"></textarea>
                        <mat-error *ngIf="questionsForm.get('question_en').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="questionsForm.get('question_en').errors?.pattern">
                            {{ 'ADMIN.ENNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="questionsForm.get('answer_ar').value">
                        <mat-label>{{ 'ADMIN.ANSWERAR' | translate }}</mat-label>
                        <textarea rows="3" matInput formControlName="answer_ar"
                            placeholder="{{'ADMIN.ANSWERAR' | translate}}"></textarea>
                        <mat-error *ngIf="questionsForm.get('answer_ar').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="questionsForm.get('answer_ar').errors?.pattern">
                            {{ 'ADMIN.ARNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="questionsForm.get('answer_en').value">
                        <mat-label>{{ 'ADMIN.ANSWEREN' | translate }}</mat-label>
                        <textarea rows="3" matInput formControlName="answer_en"
                            placeholder="{{'ADMIN.ANSWEREN' | translate}}"></textarea>
                        <mat-error *ngIf="questionsForm.get('answer_en').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="questionsForm.get('answer_en').errors?.pattern">
                            {{ 'ADMIN.ENNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button (click)="onSave()" class="red-background font-weight-bold">
                    {{ 'GENERAL.SAVE' | translate }}
                </button>
                <button (click)="onBack()" class="red-background save-data font-weight-bold">
                    {{ 'GENERAL.BACK' | translate }}
                </button>
            </div>
        </div>
    </form>
</div>