<div class="container-fluid manage-emails">
    <form [formGroup]="contactUsForm">
        <div class="section-sep">
            <div class="row">
                <div class="col-md-12">
                    <p class="font-weight-bold title-info">
                        <span>{{ 'ADMIN.CONTACTUS' | translate }}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('city_ar').value">
                        <mat-label>{{ 'CONTACTUS.ARABICCITY' | translate }}</mat-label>
                        <input type="text" matInput formControlName="city_ar"
                            placeholder="{{ 'CONTACTUS.ARABICCITY' | translate }}">
                        <mat-error *ngIf="contactUsForm.get('city_ar').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="contactUsForm.get('city_ar').errors?.pattern">
                            {{ 'ADMIN.ARNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('city_en').value">
                        <mat-label>{{ 'CONTACTUS.ENGLISHCITY' | translate }}</mat-label>
                        <input type="text" matInput formControlName="city_en"
                            placeholder="{{ 'CONTACTUS.ENGLISHCITY' | translate }}">
                        <mat-error *ngIf="contactUsForm.get('city_en').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="contactUsForm.get('city_en').errors?.pattern">
                            {{ 'ADMIN.ENNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('country_ar').value">
                        <mat-label>{{ 'ADMIN.ARABICTITLE' | translate }}</mat-label>
                        <input type="text" matInput formControlName="country_ar"
                            placeholder="{{ 'ADMIN.ARABICTITLE' | translate }}">
                        <mat-error *ngIf="contactUsForm.get('country_ar').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="contactUsForm.get('country_ar').errors?.pattern">
                            {{ 'ADMIN.ARNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('country_en').value">
                        <mat-label>{{ 'ADMIN.ENGLISHTITLE' | translate }}</mat-label>
                        <input type="text" matInput formControlName="country_en"
                            placeholder="{{ 'ADMIN.ENGLISHTITLE' | translate }}">
                        <mat-error *ngIf="contactUsForm.get('country_en').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="contactUsForm.get('country_en').errors?.pattern">
                            {{ 'ADMIN.ENNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('address_ar').value">
                        <mat-label>{{ 'ADMIN.ARABICTITLE' | translate }}</mat-label>
                        <input type="text" matInput formControlName="address_ar"
                            placeholder="{{ 'ADMIN.ARABICTITLE' | translate }}">
                        <mat-error *ngIf="contactUsForm.get('address_ar').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="contactUsForm.get('address_ar').errors?.pattern">
                            {{ 'ADMIN.ARNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('address_en').value">
                        <mat-label>{{ 'ADMIN.ENGLISHTITLE' | translate }}</mat-label>
                        <input type="text" matInput formControlName="address_en"
                            placeholder="{{ 'ADMIN.ENGLISHTITLE' | translate }}">
                        <mat-error *ngIf="contactUsForm.get('address_en').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf="contactUsForm.get('address_en').errors?.pattern">
                            {{ 'ADMIN.ENNAMEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('primaryEmail').value">
                        <mat-label>{{ 'LOGIN.EMAIL' | translate }}</mat-label>
                        <input type="text" required formControlName="primaryEmail" matInput
                            placeholder="{{ 'LOGIN.EMAIL' | translate }}">
                        <mat-icon matPrefix>account_circle</mat-icon>
                        <mat-error *ngIf="contactUsForm.get('primaryEmail').errors?.required">
                            {{ 'LOGIN.CUSTOMERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="contactUsForm.get('primaryEmail').errors?.pattern">
                            {{ 'LOGIN.EMAILERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('secondaryEmail').value">
                        <mat-label>{{ 'LOGIN.EMAIL' | translate }}</mat-label>
                        <input type="text" required formControlName="secondaryEmail" matInput
                            placeholder="{{ 'LOGIN.EMAIL' | translate }}">
                        <mat-icon matPrefix>account_circle</mat-icon>
                        <mat-error *ngIf="contactUsForm.get('secondaryEmail').errors?.required">
                            {{ 'LOGIN.CUSTOMERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="contactUsForm.get('secondaryEmail').errors?.pattern">
                            {{ 'LOGIN.EMAILERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('primaryPhoneNumber').value">
                        <mat-label>{{ 'ADMIN.PHONENAME' | translate }}</mat-label>
                        <input type="text" matInput formControlName="primaryPhoneNumber"
                            placeholder="{{ 'ADMIN.PHONENAME' | translate }}">
                        <mat-error *ngIf="contactUsForm.get('primaryPhoneNumber').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf=" contactUsForm.get('primaryPhoneNumber').errors?.pattern">
                            {{ 'ADMIN.PHONEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field [class.not-empty]="contactUsForm.get('secondaryPhoneNumber').value">
                        <mat-label>{{ 'ADMIN.PHONENAME' | translate }}</mat-label>
                        <input type="text" matInput formControlName="secondaryPhoneNumber"
                            placeholder="{{ 'ADMIN.PHONENAME' | translate }}">
                        <mat-error *ngIf="contactUsForm.get('secondaryPhoneNumber').errors?.required">
                            {{ 'ADMIN.ERRORMESSAGE' | translate }}
                        </mat-error>
                        <mat-error *ngIf=" contactUsForm.get('secondaryPhoneNumber').errors?.pattern">
                            {{ 'ADMIN.PHONEERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button (click)="onSave()" class="red-background font-weight-bold">
                    {{ 'GENERAL.SAVE' | translate }}
                </button>
                <button [routerLink]="'/settings'" class="red-background save-data font-weight-bold">
                    {{ 'GENERAL.BACK' | translate }}
                </button>
            </div>
        </div>
    </form>
</div>