<header class="container-fluid header">
    <div class="row">
        <div class="col-md-6">
            <img (click)="goToHome()" *ngIf="translateService.currentLang == 'ar'" class="header__logo"
                src="assets/images/white-logo.svg" alt="{{'GENERAL.MOTOR' | translate}}"
                title="{{'GENERAL.MOTOR' | translate}}">
            <img (click)="goToHome()" *ngIf="translateService.currentLang == 'en'" class="header__logo"
                src="assets/images/white-logo.svg" alt="{{'GENERAL.MOTOR' | translate}}"
                title="{{'GENERAL.MOTOR' | translate}}">
            <div class="header__separator"></div>
            <div (click)="goToHome()" class="header__pragraph">
                <span [hidden]="header">
                    <p class="font-weight-bold header__pragraph--firstparagraph">
                        {{'GENERAL.MOTOR' | translate}}
                    </p>
                </span>
                <span [hidden]="!header">
                    <p class="font-weight-bold header__pragraph--firstparagraph header-title-add">
                        {{'GENERAL.MOTOR' | translate}} {{'GENERAL.MOTOR' | translate}}
                    </p>
                    <p class="font-weight-bold text-dark header-title-add">{{header}}</p>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="header__menu">
                <p (click)="setLang()" class="header__menu--lang">{{'ENGLISH' | translate}}
                    <mat-icon>language</mat-icon>
                </p>
                <div class="header__menu--separator"></div>
                <p class="header__menu--logout" [matMenuTriggerFor]="menu">
                    {{ authService?.user?.data?.firstName }} {{ authService?.user?.data?.lastName }}
                    <mat-icon class="dropdown-icon">keyboard_arrow_down</mat-icon>
                </p>
                <mat-menu #menu="matMenu">
                    <p [routerLink]="'/change-password'" class="menu-pragraph">
                        <mat-icon>lock</mat-icon> {{'LOGIN.RESETYOURPASSWORD' | translate}}
                    </p>
                    <p [routerLink]="'/admin-profile'" class="menu-pragraph">
                        <mat-icon>account_circle</mat-icon> {{'ADMIN.ADMIN_PROFILE' | translate}}
                    </p>
                    <!-- <p [routerLink]="'/settings'" class="menu-pragraph">
                        <mat-icon>settings</mat-icon> {{'ADMIN.SETTINGS' | translate}}
                    </p> -->
                    <p (click)="logout()" class="menu-pragraph">
                        <mat-icon>exit_to_app</mat-icon> {{'LOGIN.LOGOUT' | translate}}
                    </p>
                </mat-menu>
            </div>
        </div>
    </div>
</header>