<section class="container reset-password">
    <div class="row keep-login-dir">
        <div class="col-md-12 text-center login-info position-relative">
            <div class="login-info__transform">
                <p class="red-text font-weight-bold login-info__login-first">
                    {{ 'LOGIN.CHANGEYOURPASSWORD' | translate }}</p>
                <p class="red-text">{{ 'LOGIN.ENTERYOURPASSWORD' | translate }}</p>
                <form [formGroup]="changeForm">
                    <mat-form-field [class.not-empty]="changeForm.get('password').value" class="mt-0 mb-2">
                        <mat-label>{{ 'LOGIN.OLDPASSWORD' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'LOGIN.OLDPASSWORD' | translate }}"
                            [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <mat-icon matSuffix (click)="hide = !hide">
                            {{ hide ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="changeForm.get('password').errors?.required">
                            {{ 'LOGIN.CUSTOMERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="changeForm.get('password').errors?.pattern">
                            {{ 'LOGIN.PASSWORDERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field [class.not-empty]="changeForm.get('newPassword').value" class="mt-0 mb-2">
                        <mat-label>{{ 'LOGIN.NEWPASSWORD' | translate }}</mat-label>
                        <input matInput placeholder="{{ 'LOGIN.NEWPASSWORD' | translate }}"
                            [type]="hide ? 'newPassword' : 'text'" formControlName="newPassword" required>
                        <mat-icon matSuffix (click)="hide = !hide">
                            {{ hide ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="changeForm.get('newPassword').errors?.required">
                            {{ 'LOGIN.CUSTOMERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="changeForm.get('newPassword').errors?.pattern">
                            {{ 'LOGIN.PASSWORDERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field [class.not-empty]="changeForm.get('confirmNewPassword').value" class="mt-0 mb-2">
                        <mat-label>{{ 'LOGIN.CONFIRMNEWPASSWORD' | translate }}</mat-label>
                        <input type="password" formControlName="confirmNewPassword" matInput
                            placeholder="{{ 'LOGIN.CONFIRMNEWPASSWORD' | translate }}">
                        <mat-icon matSuffix (click)="hide = !hide">
                            {{ hide ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="changeForm.get('newPassword').errors?.required">
                            {{ 'LOGIN.CUSTOMERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="changeForm.get('newPassword').errors?.pattern">
                            {{ 'LOGIN.PASSWORDERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="changeForm.get('confirmNewPassword').errors?.mustMatch">
                            {{ 'LOGIN.MUSTMATCHERROR' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <button (click)="change()" class="red-background font-weight-bold">
                        {{ 'LOGIN.RESETYOURPASSWORD' | translate }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>