@import "../../../../assets/scss/global/variables";

.login-info {
    height: 75vh;

    &__logo-pic {
        width: 211px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    &__transform {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--lang-div {
            width: 330px;
            margin: 0 auto;
            text-align: right;
            margin-bottom: 30px;
            direction: rtl;
        }

        &--lang-icon {
            font-size: 14px;
            cursor: pointer;
            color: $color-blue;
            line-height: 1;

            .mat-icon {
                font-size: 14px;
                cursor: pointer;
                color: $color-green;
                position: relative;
                top: 3px;
            }
        }
    }

    &__login-first {
        margin-top: 30px;
        margin-bottom: 14px;
    }

    .mat-form-field {
        width: 330px;
    }

    .green-text,
    .red-text {
        font-size: 18px;
        text-transform: none;
        line-height: 1;
    }
}

@media only screen and (max-width: 767px) {
    .login-info {
        &__transform {
            position: unset;
            top: unset;
            transform: unset;

            &--lang-div {
                width: unset;
                margin-top: 10px;
            }
        }

        .mat-form-field {
            width: 90%;
        }
    }

    button {
        width: 90%;
    }
}

@media only screen and (min-width: 1399px) {

    .login-info .mat-form-field,
    .login-info .green-background.font-weight-bold {
        width: 70%;
    }
}